*{
    margin: 0;
    padding: 0;
}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 
#carouselHero .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:50vh;
  }