*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,500&display=swap');


#myCarousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
      transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
      transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
      transform: translateX(-25%) !important;
  }
}


/* button zoom animation start*/
.button-4 {
    position: relative;
    line-height: 3rem;
    background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    border: #fda085;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    font-size: large;
    transition: .3s;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
  .button-4:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
  /* button zoom animation End*/


  /* box outer setup*/
  #outer
  {
      
      height: 60px; 
      box-shadow: rgba(0,0,0,0.403) 0px 10px 20px 0px;
      max-width: 300px;
      border: 2px solid;
  }
  #outer-1
  {
    height: 80px;
    width: 300px;
    background: rgba(0,0,0,0.403) 0px 10px 20px 0px;
    border: 2px solid rgb(161, 144, 144);
    border-radius: 10px;
    max-width: 300px;
    background: #fda085;
  }
  #outer-2
  {
    height: 100px;
    width: 300px;  
    border-radius: 10px;
    border: 2px solid rgb(161, 144, 144);
    max-width: 300px;
    background: #fda085;

  }

  
  #inner{
    margin:2px;
    padding: 10px 5px;
    font-family:Poppins sans-serif;    
  }

  h4 svg
  {
    margin-left: 60px;
  }
  h4 span
  {
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500;
  }

