*{
    margin: 0;
    padding: 0;
}
.content
{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.content-2
{
    position: relative;
    padding-left: 53rem;
    justify-self: end;
    align-items: center;
}
.logo img
{
    position: relative;
    display: flex;
    padding-left: 300px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.heading ul
{
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
.heading ul li a
{
    color: black;
}
.header-1
{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    background-color: rgba(35, 187, 35, 0.5);
    align-items: center;
    justify-content: center
}
.header-right
{
    align-items: center;
    justify-content: center;
    grid-column: 1/1;
    grid-row: 1/1;
    padding-top: 50px;
    padding-left: 50px;
}
.topic-grid
{
    display: grid;
    grid-template-columns: 550px 550px;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
}

.topic-grid figure img
{
    justify-self: center;
    align-self: center;
    padding-top: 10px;
    width: 500px;
    grid-column: 1/1;
}
.leftside-menu-2
{
    align-items: center;
    justify-self: center;
    grid-column: 1/1;
    margin-right: 10px;
}
.leftside-menu-2 h4
{
    background-color: rgba(82, 92, 109, 0.699);
    width: 530px;
    height: 60px;
    cursor: pointer;
    justify-self: center;
    border-radius: 30px;
    padding-left: 15px;
}
.rightside-menu h4
{
    margin-top: 5px;
    background-color: rgba(82, 92, 109, 0.699);
    width: 550px;
    height: 40px;
    cursor: pointer;
    justify-self: center;
    border-radius: 20px;
    padding-left: 15px;
}

.rightside-menu-2
{
    grid-column: 2/2;
    justify-content: center;
    align-items: center;
}
.rightside-menu-2 h4
{
    margin-top: 5px;
    background-color: rgba(82, 92, 109, 0.699);
    width: 530px;
    height: 60px;
    cursor: pointer;
    justify-self: center;
    border-radius: 30px;  
    padding-left: 15px; 
}
.rightside-menu-2 h5
{
    font-size:large;
    font-weight: 700;
    margin-top: 5px;
    padding: 10px;
    background-color: rgba(82, 92, 109, 0.699);
    width: 480px;
    height: 40px;
    cursor: pointer;
    justify-self: center;
    border-radius: 20px;
}
.removes   h3
{
    padding: 20px;
    margin-trim:  block-end ;
    border: 0.5px   solid   black;
}
.removes li
{ 
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin-trim:  block;
}

.helps  ul li
{
    list-style: none;
    margin-trim:  block;
    text-decoration: none;
    display: inline-block;
    padding-left: 50px;
    margin-top: 20px;
}
.helps  h4
{
    padding: 20px;
    margin-trim:    block-end ;
    border: 0.5px   solid   black;
}
.grid-2
{
    display: grid;
    grid-template-columns:550px 550px;
    grid-template-rows:50px 30px 50px 30px 50px 30px;
    align-items: start;
    justify-content: center;
}
.grid-2 span
{
    font-size: large;
    font-weight: 500;
    font-family: sans-serif;
    justify-self: center;
    padding: 20px;
    margin-top: 5px;
    color: blue;
}
.grid-2 h4
{
    background-color: rgba(82, 92, 109, 0.699);
    width: 480px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
.grid-2 a
{
    text-decoration: none;
    color:palevioletred;
    align-self: center;
}
.time-h4
{
    grid-row: 1/1;
    grid-column: 1/1;
}
.time-h4-span
{
    grid-row: 2/2;
    grid-column: 1/1;
}
.Workshop-h4
{
    grid-row: 1/1;
    grid-column: 2/2;
}
.Workshop-h4-span
{
    grid-row: 2/2;
    grid-column: 2/2;
}
.fee-h4
{
    grid-row: 3/3;
    grid-column: 1/1;
}
.fee-h4-span
{
    grid-row: 4/4;
    grid-column: 1/1;
}
.batch-h4
{
    grid-row: 3/3;
    grid-column: 2/2;
}
.batch-h4-span
{
    grid-row: 4/4;
    grid-column: 2/2;
}
.form-h4
{
    grid-column: 1/1;
    grid-row: 5/5;
}
.form-h4-span
{
    grid-row: 6/6;
    grid-column: 1/1;
}
.run-h4
{
    grid-row: 5/5;
    grid-column: 2/2;
}
.run-h4-span
{
    grid-row: 6/6;
    grid-column: 2/2;
}
.bg-body
{
    background-image: url(/pic/gree.jpg);
    background-size: cover;
    background-position: center;
}
.figure img
{
    width: 150px;
    height: fit-content;
    height: 150px;
    object-fit: cover;
    height: max-content;
}